<div class="header1 small">
  <h1 class="header_logo">Movie Recommendations</h1>
</div>
<div *ngIf="movieName" class="row">
<div (click) = "callApi()" class="col-md-3">
    <div class="bk-btn"><div class="bk-btn-triangle"></div><div class="bk-btn-bar"></div></div>

</div>
<div class="col-md-9">
    <div class="example-1 card1" >
      
        <div class="wrapper1 title">
            <span style="font-size:18px">Showing Recommendations for:</span> {{movieName}}

        </div>
      </div>
</div>
</div>

<div class="row">
  <div (click) = "!movieName && callApi(movie.api_name)" *ngFor="let movie of movieArray" class="example-1 card" style="margin-bottom: 5%">
      
    <div class="wrapper" [ngStyle]="{'background': ' url(' + movie.poster_path + ') center / cover no-repeat'}">
      <div class="data">
        <div class="content">
          <span class="author">{{movie.vote_average}}/10</span>
          <h1 class="title"><a href="#">{{movie.title}}</a></h1>
          <p class="text">{{movie.overview}}</p>
          <label for="show-menu" class="menu-button"><span></span></label>
        </div>
        <input type="checkbox" id="show-menu" />
        <ul class="menu-content">
          <li>
            <a href="#" class="fa fa-bookmark-o"></a>
          </li>
          <li><a href="#" class="fa fa-heart-o"><span>47</span></a></li>
          <li><a href="#" class="fa fa-comment-o"><span>8</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>